
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .app__sidebar {
        width: 230px;
    }

    .sidebar-section.playlist,
    .sidebar-logo .logo,
    .nav-menu .list-description,
    .section-dowland-app .description-action,
    .section-create-list .description-action,
    .account-description .user-name {
    display: block;
    }

    .sidebar-logo .logo-small {
        display: none;
    }

    .app__sidebar {
        gap: 30px;
        padding: 20px 20px 10px 20px;
    }

    .nav-menu {
        align-items: flex-start;
    }



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .album-preview {
        gap: 40px;
    }

    .album,
    .track-controls .menu,
    .album-controls {
        gap: 13px;
    }

    .album-controls {
        flex-direction: row;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

