
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .album-preview {
        gap: 40px;
    }
    .album,
    .track-controls .menu,
    .album-controls {
        gap: 13px;
    }
    .album-controls {
        flex-direction: row;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

