
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .app__sidebar {
        width: 230px;
    }

    .sidebar-section.playlist,
    .sidebar-logo .logo,
    .nav-menu .list-description,
    .section-dowland-app .description-action,
    .section-create-list .description-action,
    .account-description .user-name {
    display: block;
    }

    .sidebar-logo .logo-small {
        display: none;
    }

    .app__sidebar {
        gap: 30px;
        padding: 20px 20px 10px 20px;
    }

    .nav-menu {
        align-items: flex-start;
    }

    .user-account {
        align-items: flex-start;
    }
    
    .section-dowland-app .button a::after {
        content: "";
        display: block;
        width: 200px;
        height: 2px;
        background-color: var(--light-gray);  
        position: absolute;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .album-preview {
        gap: 40px;
    }

    .album,
    .track-controls .menu,
    .album-controls {
        gap: 13px;
    }

    .album-controls {
        flex-direction: row;
    }

    .col-m-3 {
        flex-basis: calc((100% / 12) * 3);;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .col-lg-2 {
        flex-basis: calc((100% / 12) * 2);;
    }
}

