/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

/* GENERAL SETTING*/

body {
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
}

.row [class^="col"] {
    padding: 0px 5px;
}

.col {
    flex-basis: 100%;
}

.col-6 {
    flex-basis: 50%;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.container-small {
    width: 620px;
    margin: 0 auto;
}

:root {
    --dark-blue:#080B12;
    --blue: #141922;
    --light-gray: #D2D2D2;
    --gray: #7D7F84;
    --dark-grey: #282828;
    --lime: #ADFF2F;
    --progress: 25%;
    --sidebar-width: 260px;
    --distance-90: 90px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app, 
.app__content,
.app__toolbar {
    overflow: hidden;
}

/* UTILITY CLASS */

.white {
    color: white;
}

.font-16 {
    font-size: 16px;
}

/* APP-CONTENT */

.app__content {
    flex-grow: 1;
    display: flex;
}

.app__content .app__sidebar {
    flex-shrink: 0;
}

.app__content .app__main-content {
    flex-grow: 1;
}

/* app-sidebar */

.app__sidebar {
    background-color: black;
    width: 50px;
    flex-shrink: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--gray);
}

/* sidebar-logo */

.logo {
    width: 135px;
}

.logo-small {
    width: 30px;
}

/* nav-menu */
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nav-menu a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-menu img {
    opacity: 0.7;
}

/* playlist */
.sidebar-section h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.playlist i {
    font-size: 40px;
}

.section-create-list {
    display: flex;
    gap: 10px;
    margin-bottom: 23px;
    align-items: center;
}

.sidebar-section .section-list {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/*user-account */
.user-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.user-account .section-dowland-app,
.user-account .account-description {
    display: flex;
    gap: 10px;
    align-items: center;
}

.account-description img {
    border-radius: 999px;
    background-color: var(--gray);
}

.nav-menu img, 
.account-description img {
    width: 20px;
}

.sidebar-section.playlist,
.sidebar-logo .logo,
.nav-menu .list-description,
.section-dowland-app .description-action,
.section-create-list .description-action,
.account-description .user-name {
    display: none;
}

/* APP__MAIN-CONTENT */ 

.app__main-content {
    background-color: var(--blue);
    position: relative;
    overflow: hidden;
}

/* main-header*/

.app__main-content .main-header {
    background-color: var(--dark-blue);
    height: var(--distance-90);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    padding-right: 20px;
    opacity: 0.7;
}

.button.button-upgrade {
    border: 2px solid currentColor;
    line-height: 38px;
    padding: 0px 40px;
    border-radius: 999px;
    text-transform: uppercase;
}


/* main__content */

.main__content {
    padding: var(--distance-90) 10px 20px 10px;
    overflow-y: scroll;
    height: 100%;
}

.row-content {
    flex-wrap: wrap;
}

.card .feature-image {
    margin-bottom: 20px;
}

.card > * {
    margin-bottom: 10px;
    text-align: center;
}

.card .card-description {
    color: var(--gray);
}

.row-title {
    margin-bottom: 30px;
}

.main__content .nav-menu {
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 45px;
    row-gap: 45px;
    flex-wrap: wrap;
    text-transform: uppercase;

}

/* APP-TOOLBAR */

.app__toolbar {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

.album-preview {
    display: flex;
    gap: 28px;
    align-items: center;
}

.album {
    display: flex;
    gap: 10px;
    align-items: center;
}

.album .feature-image {
    width: 30px;
    flex-shrink: 0;
}

.track-name {
    color: var(--gray);
}

.album-description {
    line-height: 1.3;
}

.album-controls {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: var(--gray);
}

.album-preview {
    flex-basis: var(--sidebar-width);
    padding: 0px 20px 0px 10px;
}

/* track-player */
.track-player {
  width: 40%;
}

.player-menu {
    margin-bottom: 15px;
}

.player-menu .menu{
    font-size: 20px;
}

.player-menu .menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.player-menu .play-button {
    padding: 0 10px;
    font-size: 30px;
}

.track-timeline {
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress-bar {
    flex-grow: 1;
    background-color: var(--gray);
    border-radius: 999px;
    position: relative;
}

.progress {
    height: 6px;
    border-radius: 999px;
    background-color: var(--light-gray);
    width: var(--progress);
}

.progress-handler {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 999px;
    position: absolute;
    left: var(--progress);
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* track-controls */

.track-controls {
    flex-basis: var(--sidebar-width);
    padding: 0px 10px 0px 20px;
}

.track-controls .menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* HOVER RULES */

.play-button:hover {
    scale: 1.2;
}

.track-name:hover, 
.album-controls i:hover {
    color: white;
}
