/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

/* GENERAL SETTING*/

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: white;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
}

:root {
    --dark-blue:#080B12;
    --blue: #141922;
    --light-gray: #D2D2D2;
    --gray: #7D7F84;
    --dark-grey: #282828;
    --lime: #ADFF2F;
}

/* APP-TOOLBAR */

.app__toolbar {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px 25px 10px;
}

.toolbar {
    display: flex;
}

.toolbar-display {
    gap: 28px;
}

.song-display {
    display: flex;
    gap: 10px;
}

.song-display .feature-image {
    width: 28px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-toolbar {
    flex-direction: column;
    flex-basis: 35%;
    gap: 15px;
}

.main-toolbar .menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.main-toolbar .play-button {
    padding: 0 10px;
    font-size: 30px;
}

.toolbar__time {
    display: flex;
    justify-content: space-between;
}

.mini-toolbar .toolbar__menu {
    display: flex;
}

.mini-toolbar .menu {
    display: flex;
    gap: 8px;
}


